#main {
    padding: 5%;
}

.article-title {
    text-align: center;
}

.person {
    text-align: center;
}

.person-img {
    display: block;
    width: 8rem;
    margin: auto;
    object-fit: cover;
}

.person-description {
    color: grey;
}